.container__small-card {
  width:500px;
  margin-bottom: 15px;
}

.small-card__title > h1 {
  font-size: 1.2rem;
}
.container__small-card-content {
  display: flex;
  flex-direction: row;
}

.small-card__photo > img {
  width: 200px;
  height: 140px;
  min-width: 150px;
  margin-right: 10px;
  border-radius: 15px;
}

.small-card__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__small-card__separator {
  margin-top: 10px;
}
