<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://wallpapercave.com/wp/wp3519508.jpg"
      cardTitle="NOVO HOMEM DE FERRO ANUNCIADO"
      cardDescription="Marvel studios anuncia novo filme do homem de ferro."
      >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      cardTitle="Lançamento John Wick 4 "
      photoCover="https://wallpapercave.com/wp/wp12148227.jpg"
    >
    </app-small-card>
    <app-small-card
      cardTitle="Nova série anunciada no Paramount"
      photoCover="https://wallpapercave.com/wp/wp3285281.jpg"
    >
    </app-small-card>
    <app-small-card
      cardTitle="Nova série anunciada na Netflix"
      photoCover="https://wallpapercave.com/wp/wp2930810.jpg"
    >
    </app-small-card>  </div>
</div>
